/**
 * Home Stylesheet
 * Defines the base styles for Home page.
 */

.home {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    min-width: 80%;
    background: var(--gruvbox-bg0, #282828FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
}

.home-content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 8vh); /* 100vh - height of navbar */
}

/* Logo frame (left frame) */
.logo-frame {
    box-sizing: border-box;
    flex: 1; /* Take up equal space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-content: center;
    gap: 10%; /* Spacing between items */
    background: var(--gruvbox-bg0, #282828FF); /* Background color */
    color: var(--gruvbox-fg1, #EBDBB2);
    border: 0.25em solid var(--gruvbox-bg0-s, #32302FFF); /* Adds a border */
    font-size: 16px;
}

.ascii-art{
    white-space: pre;
    margin: 0;
    align-self: center;
}

ul {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    align-self: center; /* Center the whole block horizontally */
    text-align: start; /* Center-align the text */
    list-style-type: none; /* No bullet points */
}

/* Text style for the key (left part of the line) */
.key {
    color: var(--gruvbox-blue1, #458588FF);
    font-weight: bold;
}

/* Text style for the value (right part of the line) */
.value {
    color: var(--gruvbox-fg0, #FBF1C7FF);
}

/* Editor frame (right frame) */
.editor-frame {
    box-sizing: border-box;
    flex: 1; /* Take up equal space */
    display: flex;
    flex-direction: column;
    gap: 16px; /* Spacing between text */
    background: var(--gruvbox-bg0, #3C3836FF);
    color: var(--gruvbox-aqua1, #689D6AFF);
    border: 0.25em solid var(--gruvbox-bg0-s, #32302FFF); /* Adds a border */
    font-size: 16px;
}

.editor-text {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 768px) {
    .home-content-container{
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 8vh);
    }

    .logo-frame, .editor-frame {
        margin: 0;
        padding: 0;
    }

    .logo-frame{
        flex: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 5%;
    }
    .editor-frame {
        flex: none;
        width: 100%;
        margin-top: 0;

    }
    .ascii-art {
        margin: 0;
        align-self: center;
        transform: scale(0.8); /* Scale down for smaller screens */
    }

    ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .key {
        margin: 0 0 1%;
    }

    .value {
        margin: 0 0 6%;
    }

    .editor-text{
        margin: 1rem;
        font-size: 14px;
    }
}