.about {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    min-width: 80%;
    background: var(--gruvbox-bg0, #282828FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
}

.about-content-container{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8vh);
    border: 0.25em solid var(--gruvbox-bg0-s, #32302FFF); /* Adds a border */
    overflow-y: hidden;
}

/* Key frames for the circle blinking effect */
@keyframes blink {
    0%, 49.9% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }
}

@keyframes typewriter {
    from {
        width: 0; /* start of the effect, no text visible */
    }
    to {
        width: 100% /* text fully visible */
    }
}

@keyframes cursor-blink {
    0%, 49.9% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.circle{
    margin-top: 5em;
    margin-bottom:25em;
    animation: blink 0.5s infinite;
}

.typewriter-container {
    margin-top: 5rem;
    margin-bottom:25rem;
    display: inline-flex;
}

.typewriter {
    display: inline-block; /* Ensure the text behaves like an inline text */
    overflow: hidden; /* Hide overflowing during the animation */
    white-space: nowrap; /* Prevent text from wrapping */
    color:var(--gruvbox-fg1, #EBDBB2FF);
    font-size: 2rem;
    animation: typewriter 1.5s steps(30, end) forwards;
}

.cursor {
    border-right: 2px solid var(--gruvbox-fg1, #EBDBB2FF); /* Cursor effect */
    color:var(--gruvbox-fg1, #EBDBB2FF);
    animation: cursor-blink 0.5s infinite;
}
